* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {

}

.shopee-header {
    
}

.shopee-logo, .right {
    
}

.products {
    
}

.item {
    
}

.product-image {
    
}

.description {
    
}

footer {
    
}

span a {
    
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px){
    
}