/* This will only be applied to devices with width size in between 320px and 780px */
/* @media all and (min-width: 320px) and (max-width: 780px) {
    body {
        background-color: yellow;
    }

    h1 {
        background-color: red;
    }
} */

/* This will be applied when landscape or portrait screen is detected */
/* @media only screen and (orientation: landscape) {
    body {
        background-color: pink;
    }
} */

/* @media only screen and (orientation: portrait) {
    body {
        background-color: pink;
    }
} */

/* This appears if the screen is 16/9 (width/height) ratio */
/* @media all and (min-device-aspect-ratio: 16/9){
    body {
        background-color: orange;
    }
} */

/* Applied when the media is print */
@media print {
    body {
        font-size: 100px;
        background-color: yellow;
        color: red;
    }

    h1 {
        background-color: blue;
    }
}
